.job-search-section {
  background-color: #007bff;
  color: white;
}

.job-list h2 {
  font-weight: bold;
}

.sidebar {
  border-radius: 0.25rem;
}

.card img {
  height: 100px;
  object-fit: cover;
}
